:root {
    --primary: #3777ff;
    --primary-dark: #2e5bff;
    --secondary: #6c757d;
    --secondary-dark: #5a6268;
    --success: #28a745;
    --success-dark: #218838;
    --info: #17a2b8;
    --info-dark: #138496;
    --warning: #ffc107;
    --warning-dark: #d39e00;
    --danger: #dc3545;
    --danger-dark: #bd2130;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark-darker: #222223;
    --black: #191919;
    --black-light: #1d1f23;
    --white: #cdcdcd;
    --gray: #b5b5b5;
    --gray-dark: #999;
}

/* Typography */

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--white);
    background-color: var(--black);
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 0.5rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 0.5rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 0.5rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 0.5rem;
}

h5 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 0.5rem;
}

h6 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 0.5rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

a {
    color: var(--primary);
    text-decoration: none !important;
    position: relative;
    transition: color 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

a:hover {
    color: var(--white);
}

a:before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary);
    transition: bottom 0.3s ease-in-out;
}

a:hover:before {
    bottom: -.25rem;
}

/* Utilities */

.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.px-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.mx-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.mx-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.mx-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.mx-4 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.px-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.mx-5 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.gap-0 {
    gap: 0 !important;
}

.gap-1 {
    gap: 0.25rem !important;
}

.gap-2 {
    gap: 0.5rem !important;
}

.gap-3 {
    gap: 1rem !important;
}

.gap-4 {
    gap: 1.5rem !important;
}

.gap-5 {
    gap: 3rem !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-justify {
    text-align: justify !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-overline {
    text-decoration: overline;
}

.text-line-through {
    text-decoration: line-through;
}

.text-sm {
    font-size: 0.875rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.25rem;
}

.text-xl {
    font-size: 1.5rem;
}

.text-2xl {
    font-size: 2rem;
}

.text-3xl {
    font-size: 2.5rem;
}

.text-4xl {
    font-size: 3rem;
}

.text-5xl {
    font-size: 3.5rem;
}

.text-6xl {
    font-size: 4rem;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-primary-dark {
    background-color: var(--primary-dark) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-secondary-dark {
    background-color: var(--secondary-dark) !important;
}

.bg-success {
    background-color: var(--success) !important;
}

.bg-success-dark {
    background-color: var(--success-dark) !important;
}

.bg-info {
    background-color: var(--info) !important;
}

.bg-info-dark {
    background-color: var(--info-dark) !important;
}

.bg-warning {
    background-color: var(--warning) !important;
}

.bg-warning-dark {
    background-color: var(--warning-dark) !important;
}

.bg-danger {
    background-color: var(--danger) !important;
}

.bg-danger-dark {
    background-color: var(--danger-dark) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-black {
    background-color: var(--black) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.bg-gray-dark {
    background-color: var(--gray-dark) !important;
}

.bg-darker {
    background-color: var(--dark-darker) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-primary-dark {
    color: var(--primary-dark) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-secondary-dark {
    color: var(--secondary-dark) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-success-dark {
    color: var(--success-dark) !important;
}

.text-info {
    color: var(--info) !important;
}

.text-info-dark {
    color: var(--info-dark) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-warning-dark {
    color: var(--warning-dark) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-danger-dark {
    color: var(--danger-dark) !important;
}

.text-light {
    color: var(--light) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-black {
    color: var(--black) !important;
}

.text-white {
    color: var(--white) !important;
}

.text-gray {
    color: var(--gray) !important;
}

.text-gray-dark {
    color: var(--gray-dark) !important;
}

.text-darker {
    color: var(--dark-darker) !important;
}

/* Layout */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    max-height: fit-content;
    height: fit-content;
    max-width: 100%;
}

.container#experience {
    overflow-x: hidden;
}

.main-header {
    max-width: 90%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 0;
    flex-direction: column;
}

.main-header > * {
    flex: 1 1 auto;
    width: 100%;
}

.main-logo {
    width: 160px;
    height: 160px;
    margin-bottom: 1rem;
}

.title-special {
    color: var(--primary);
    transition: color 0.3s ease-in-out;
    position: relative;
}

.title-special:before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary);
    transition: bottom 0.3s ease-in-out;
}

.title-special:hover {
    color: var(--white);
}

.title-special:hover:before {
    bottom: -.25rem;
}

.about-p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

/* Socials */

.socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

.socials a {
    font-size: 1.5rem;
}

.socials-header a {
    border-bottom: none !important;
    padding: 0 !important;
}

/* Keyframes */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(-50%, 0);
    }
    40% {
        transform: translate(-50%, -20px);
    }
    60% {
        transform: translate(-50%, -10px);
    }
}

/* Projects */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 0;
}

.project {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    text-align: left;
    border-radius: 0.5rem;
    background-color: var(--black-light);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project:hover {
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px) !important;
}

.project-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    list-style-type: none;
    padding: 0;
}

/* Buttons */

.scroll-button {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    color: var(--primary);
    animation: bounce 2s infinite;
    font-size: 2em;
    text-decoration: none;
}

.scroll-button:before {
    display: none;
}

.scroll-button:hover {
    color: var(--primary-dark);
    text-decoration: none;
}

.btn {
    --color: var(--white);
    --bg-color: var(--primary);
    --bg-hover: var(--primary-dark);
    --color-hover: var(--white);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem !important;
    border: none;
    border-radius: 0.5rem;
    color: var(--color);
    background-color: var(--bg-color);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:before {
    display: none;
}

.btn:hover {
    color: var(--color-hover);
    background-color: var(--bg-hover);
    text-decoration: none;
}

.btn-primary {
    --color: var(--white);
    --bg-color: var(--primary);
    --bg-hover: var(--primary-dark);
    --color-hover: var(--white);
}

.btn-secondary {
    --color: var(--white);
    --bg-color: var(--secondary);
    --bg-hover: var(--secondary-dark);
    --color-hover: var(--white);
}

.btn-success {
    --color: var(--white);
    --bg-color: var(--success);
    --bg-hover: var(--success-dark);
    --color-hover: var(--white);
}

.btn-info {
    --color: var(--white);
    --bg-color: var(--info);
    --bg-hover: var(--info-dark);
    --color-hover: var(--white);
}

.btn-warning {
    --color: var(--white);
    --bg-color: var(--warning);
    --bg-hover: var(--warning-dark);
    --color-hover: var(--white);
}

.btn-danger {
    --color: var(--white);
    --bg-color: var(--danger);
    --bg-hover: var(--danger-dark);
    --color-hover: var(--white);
}

.btn-light {
    --color: var(--black);
    --bg-color: var(--light);
    --bg-hover: var(--white);
    --color-hover: var(--black);
}

.btn-dark {
    --color: var(--white);
    --bg-color: var(--dark);
    --bg-hover: var(--dark-darker);
    --color-hover: var(--white);
}

.btn-black {
    --color: var(--white);
    --bg-color: var(--black);
    --bg-hover: var(--black-light);
    --color-hover: var(--white);
}

.btn-white {
    --color: var(--black);
    --bg-color: var(--white);
    --bg-hover: var(--light);
    --color-hover: var(--black);
}

/* Form */

.contact-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    text-align: left;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.form-field {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
}

.form-field label {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

.form-field input, .form-field textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--dark-darker);
    border-radius: 0.5rem;
    background-color: var(--dark-darker) !important;
    color: var(--white) !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color 0.3s ease-in-out;
    outline: none !important;
}

.form-field input::placeholder, .form-field textarea::placeholder {
    color: var(--gray);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--dark-darker) inset !important;
    -webkit-text-fill-color: var(--white) !important;
}


.form-field input:focus, .form-field textarea:focus {
    border-color: var(--primary);
}

.form-field textarea {
    min-height: 150px;
    overflow: hidden;
    resize: none;
}

/* Resume */

.experience-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    max-width: 100%;
    overflow-x: hidden;
}

.experience, .sub-experience {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: none;
    width: 100%;
    text-align: left;
    padding-left: 3rem;
    background: none;
    gap: 0;
}

.sub-experience h3, .experience h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 0.5rem;
}

.experience::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid var(--primary);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: transparent;
}

.experience:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 1.5rem;
    border: none;
    left: 0.70rem;
    width: 3px;
    height: 100%;
    background-color: var(--primary);
}

.sub-experience::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid var(--secondary);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: transparent;
}

.sub-experience:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 1.5rem;
    border: none;
    left: 0.70rem;
    width: 3px;
    height: 100%;
    background-color: var(--secondary);
}

.experience p, .sub-experience p {
    font-style: italic;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--black);
}

.navbar.transparent {
    background-color: rgba(33, 33, 33, 0.75);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.navbar-brand h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.navbar-expand-btn {
    display: block;
    width: 32px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.navbar-expand-btn > * {
    display: block;
    width: 32px;
    height: 3px;
    background-color: var(--primary);
    position: absolute;
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.25s ease, top 0.5s ease, background-color 0.5s ease;
}

.navbar-expand-btn > *:nth-child(1) {
    top: 0;
}

.navbar-expand-btn > *:nth-child(2) {
    top: 8px;
}

.navbar-expand-btn > *:nth-child(3) {
    top: 16px;
}

.navbar-expand-btn.active > *:nth-child(1) {
    top: 8px;
    transform: rotate(45deg);
}

.navbar-expand-btn.active > *:nth-child(2) {
    opacity: 0;
}

.navbar-expand-btn.active > *:nth-child(3) {
    top: 8px;
    transform: rotate(-45deg);
}

.navbar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.navbar-items.active {
    height: auto;
    max-height: 16rem;
}

.navbar-items a {
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    padding: 0 !important;
    border-bottom: none;
    transition: color 0.3s ease-in-out;
}

.navbar-items a:hover {
    color: var(--primary);
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--dark-darker);
    color: var(--white);
    text-align: center;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    .navbar-expand-btn {
        display: none;
    }

    .navbar-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        max-height: none;
        width: auto;
    }

    .title {
        font-size: 3rem;
    }

    .socials-header a {
        font-size: 2rem;
    }

    h2 {
        font-size: 3rem;
    }

    .about-p {
        font-size: 1.5rem;
        max-width: 75%;
    }

    .projects {
        gap: 2rem;
    }

    .experience-resume {
        width: 75%;
    }

    .experience, .sub-experience {
        padding-left: 4rem;
    }

    .experience h3, .sub-experience h3 {
        font-size: 1.5rem;
    }

    .experience p, .sub-experience p {
        font-size: 1.25rem;
    }

    .experience::before, .sub-experience::before {
        width: 2rem;
        height: 2rem;
    }

    .experience:not(:last-child)::after, .sub-experience:not(:last-child)::after {
        left: 0.95rem;
        top: 2rem;
        height: calc(100% - 0.5rem);
    }

    .contact-form {
        width: 75%;
    }

    .footer-texts {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: row;
    }

    .footer-texts > *:last-child {
        position: relative;
    }

    .footer-texts > *:last-child::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -0.5rem;
        transform: translateY(-50%);
        display: block;
        width: 1px;
        height: 1rem;
        background-color: var(--white);
    }
}

@media screen and (min-width: 1200px) {
    .projects {
        gap: 3rem;
    }

    .contact-form {
        width: 50%;
    }

    .experience-resume {
        width: 50%;
    }

    .about-p {
        max-width: 50%;
    }
}